[submodule "alurakut"]
	path = alurakut
	url = git@github.com:joaom00/alurakut.git
[submodule "podcastr"]
	path = podcastr
	url = git@github.com:joaom00/podcastr.git
[submodule "ecoleta"]
	path = ecoleta
	url = git@github.com:joaom00/ecoleta.git
[submodule "proffy"]
	path = proffy
	url = git@github.com:joaom00/proffy.git
[submodule "mememaker"]
	path = mememaker
	url = git@github.com:joaom00/mememaker.git
[submodule "moveit-react"]
	path = moveit-react
	url = git@github.com:joaom00/moveit-react.git
[submodule "happy"]
	path = happy
	url = git@github.com:joaom00/happy.git
[submodule "dogs"]
	path = dogs
	url = git@github.com:joaom00/dogs.git
