[submodule "alurakut"]
	path = alurakut
	url = git@github.com:joaom00/alurakut.git
[submodule "dogs"]
	path = dogs
	url = git@github.com:joaom00/dogs.git
[submodule "js-funcional-reativo"]
	path = js-funcional-reativo
	url = git@github.com:joaom00/js-funcional-reativo.git
