[submodule "alurakut"]
	path = alurakut
	url = git@github.com:joaom00/alurakut.git
[submodule "dogs"]
	path = dogs
	url = git@github.com:joaom00/dogs.git
[submodule "js-funcional-reativo"]
	path = js-funcional-reativo
	url = git@github.com:joaom00/js-funcional-reativo.git
[submodule "podcastr"]
	path = podcastr
	url = git@github.com:joaom00/podcastr.git
[submodule "ecoleta"]
	path = ecoleta
	url = git@github.com:joaom00/ecoleta.git
[submodule "nlw4-react"]
	path = nlw4-react
	url = git@github.com:joaom00/nlw4-react.git
